/* THANK YOU FOR REVIEWING!!!
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/


/* ---- Base Rules ---- */
body {
    background: rgb(202,0,162);
    background: linear-gradient(0deg, rgba(114,0,128,1) 0%, rgba(0,13,60,1) 100%);
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Merriweather', serif;
    color: #fff;
}


main {
    margin: 10vh 1em 10vh;
}


.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}


section {
    padding-top: 60px;
    position: relative;
    min-height: 80vh;
}


/* Typeography General*/
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 6em;
    margin: 2em 4rem 1em;
}


h2 {
    border-bottom: 1.5px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 7em;
    color: #fff;
    transition: ease 550ms all;
}


p {
    line-height: 1.6em;
    font-size: .5em;
    color: #eee;
}


.foo {
  color: #f437ef;
  font-size: 5.5em;
  transition: ease 850ms all;
}


.page__footer p {
    font-size: 1em;
    color: #fff;
}


/* ---- Typography for large screens ---- */
@media only screen and (min-width: 1921px) {
  section {
    padding: 5em;
  }


  h1 {
    padding-top: 1em;
    font-size: 8em;
    margin: 2%;
    text-align: center;
  }


  h2 {
    font-size: 5.1em;
  }


  p {
    font-size: 2.2em;
  }


  .foo {
    color: #f437ef;
    font-size: 4.3em;
    transition: ease 850ms all;
  }


  .page__footer p {
    font-size: 1em;
    color: #fff;
  }
}


/* ---- Typography for medium screens ---- */
@media only screen and (max-width: 1920px) {
  .landing__container {
    max-width: 80em;
    padding: 4em;
  }


  section {
    padding: 3em;
  }


  h1 {
    padding-top: .7em;
    font-size: 8em;
    margin: 2%;
    text-align: center;
  }


  h2 {
    font-size: 5em;
  }


  p {
    font-size: 1.9em;
  }


  .foo {
    color: #f437ef;
    font-size: 5.3em;
    transition: ease 850ms all;
  }


  .page__footer p {
    font-size: 1em;
    color: #fff;
  }
}



/* ---- Typography for iPad and small laptop screens ---- */
@media only screen and (max-width: 1024px) {
  .landing__container {
    max-width: 80em;
    padding: 3em;
  }


  section {
    padding: 3em;
  }


  h1 {
    font-size: 4em;
    margin: 2em 4rem 1em;
  }


  h2 {
    border-bottom: 1.5px solid #cc1;
    font-size: 3em;
    font-family: 'Oxygen', Sans-Serif;
    color: #fff;
  }


  p {
      line-height: 1.6em;
      font-size: 1.2em;
      color: #eee;
  }


  .foo {
    color: #f437ef;
    font-size: 4.3em;
    transition: ease 850ms all;
  }
}


/* ---- Typography for phones ---- */
@media only screen and (max-width: 414px) {
 .landing__container {
    max-width: 90em;
  }


  section {
    padding: .2em;
  }


  section2, section3, section4 {
    padding-top: 1.3em;
  }


  h1 {
    font-size: 4em;
    margin: 1em 4rem 1em;
  }


  h2 {
    border-bottom: 1.5px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 2.2em;
    color: #fff;
  }


  p {
    line-height: 1.6em;
    color: #eee;
  }


  .foo {
    color: #f437ef;
    font-size: 2.5em;
    transition: ease 850ms all;
  }


  .page__footer p {
    font-size: 1em;
    color: #fff;
  }
}



/* Navigation Styles*/
.menu {
    overflow: hidden;
    max-height: 300px;
  }


.navbar__menu ul {
    position: fixed;
    background-color: #FFFFFF;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: right;
    transition: 550ms;
}


.navbar__menu li {
    display: inline-block;
}


.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    font-size: 2.7em;
    text-decoration: none;
    color: #000;
}

/* ---- Navigation styles for iPad ---- */
@media only screen and (max-width: 1024px) {
  .navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    color: #000;
  }
}


.navbar__menu .menu__link:hover {
    background: gray;
    color: #fff;
    transition: ease 1s all;
}


.navbar__menu .menu__link:active {
    background: #cccc11;
    color: #fff;
    transition: ease 1s all;
}


.active_appear{
    display: block;
    background: #cccc11;
    text-decoration: none;
    transition: ease 1s all;
    color: #ffff;
}


/* ----Navigation, header, and footer styles for phone ---- */
@media screen and (max-width: 414px) {
  main {
    padding-top: 20px; 
  }


/* Navigation Styles*/
  .menu {
    overflow: hidden;
    max-height: 200px;
  }


  .navbar__menu ul {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    text-align: center;
  }


  .navbar__menu li {
    display: inline-flex;
  }


  .navbar__menu .menu__link {
    padding: 1.1em;
    font-weight: bold;
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    letter-spacing: .1em;
    text-decoration: none;
    color: #000;
  }


  .navbar__menu .menu__link:hover {
    background: gray;
    color: #fff;
    transition: ease 0.3s all;
  }


  .navbar__menu .menu__link:active {
    background: #cccc11;
    color: #fff;
    transition: ease 0.3s all;
  }


/* Header Styles */
  .page__header {
      background: #fff;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 5;
  }


  #section2, #section3, #section4 {
    padding-top: 130px;
    position: relative;
    min-height: 50vh;
  }
}


/* Header Styles */
.page__header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}


/* Footer Styles */
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}


.page__footer p {
    font-size: 1em;
    color: #fff;
}


/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}


section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}


/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}


section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}


section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}


section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}


/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
section.your-active-class {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}


section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}


section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}


/* Section Active Styles Keyframe Animations */
@keyframes rotate {
  from {
    transform: rotate(0deg)
               translate(-1em)
               rotate(0deg);
  }
  to {
    transform: rotate(360deg)
               translate(-1em) 
               rotate(-360deg);
  }
}


/* button styles & animations */
button {
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  padding: 15px 20px 15px 20px;
  letter-spacing: .1em;
  color: purple;
  font-weight: bold;
  border: 0px;
  font-size: 1.8em;
}


@media only screen and (max-width: 414px) {
    button {
      margin-bottom: 40px;
      border-radius: 7px;
      padding: 10px;
      letter-spacing: .1em;
      color: purple;
      font-weight: bold;
      border: 0px;
      font-size: 1em;
  }
}


@media only screen and (max-width: 1024px) {
    button {
      margin-bottom: 40px;
      border-radius: 7px;
      padding: 10px;
      letter-spacing: .1em;
      color: purple;
      font-weight: bold;
      border: 0px;
      font-size: 1em;
  }
}


.fade-in {
  opacity: 0;
  transition: opacity 550ms ease-in;
}


.fade-in.appear {
  opacity: 1;
}


.header-gone {
  display: none;
  transition: ease-in 850ms all;
  transition: ease-out 850ms all;
}

/* SECOND TIME (OR MAYBE THIRD TIME?) IS THE CHARM!
*/
